:root {
  --color-dark: #191a23;

  --color-light: #ffffff;
  --color-accent: #b9ff66;
  --color-accent-ext: #baff6665;

  --border: 1px solid rgb(0, 0, 0);
  --container-width: 1240px;
  --container-padding-x: 20px;
  --section-padding-y: 70px;

  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.content {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin: 30px;
  padding: 20px;
  background-color: #ffffff;
  white-space: nowrap;
}

.content__topic {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}

.content__subtopic {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.content__text {
  display: flex;
  width: 300px;
  border: var(--border);
  border-radius: 3px;
  padding: 3px;
  overflow: auto;
  height: 100px;
}

.content__topic-item {
  border: var(--border);
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}
.content__topic-item:hover {
  background-color: var(--color-accent);
  transition-duration: var(--transition-duration);
}

.content__subtopic-item {
  border: var(--border);
  border-radius: 3px;
  padding: 3px;
  cursor: pointer;
}

.content__subtopic-item:hover {
  background-color: var(--color-accent-ext);
  transition-duration: var(--transition-duration);
}

.content__text-item {
  display: flex;
  white-space: wrap;
}
.is-active {
  background-color: var(--color-accent);
}
